.button{
    margin-top: 20px;
    background-color: rgb(19, 99, 99);
    padding: 8px;
    border-radius: 20px;
    width: 100px;
    color: wheat;
    transition: transform 0.3s ease;
}
.button:hover{
    background-color: rgb(5, 71, 71);
}
.button:active {
    transform: scale(0.95);
  }
