.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2%;
}
span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: wheat;
    background-color: rgb(19, 99, 99);
    padding: 3px;
    border-radius: 4px;
}
p{
    font-family: sans-serif;
    font-weight: 100;
    font-size: larger;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.footer{
    width: 100%;
}

@media (max-width: 720px) {
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
}